<div id="slideshow">
                  <div class="moduletable">
          <script type="text/javascript">
window.addEvent('domready',function(){
  var sp_image_rotator46 = new noobSlide({
    box: $('sp-imr-items46'),
    items:[1,2,3,4,5],
    size: 965,
    autoPlay: true,
    interval: 5000,
        buttons: {
      previous: $('sp-imr-prev46'),
      next: $('sp-imr-next46')
    },
        
    fxOptions: {
      duration: 1000,
      transition: Fx.Transitions.Sine.easeOut,
      wait: false
    }
  });

});
</script>

<div class="sp-image-rotator">
  <div class="sp-imr-wrapper" style="width:965px;height:388px">
    <div id="sp-imr-items46" class="sp-imr-items">
              <div class="sp-imr-item">
          <img src="/images/slideshow/eidcarnival.jpg" alt="eidcarnival" style="height:388px;width:965px" />
        </div>
              <div class="sp-imr-item">
          <img src="/images/slideshow/pa-banner1.jpg" alt="pa-banner1" style="height:388px;width:965px" />
        </div>
              <div class="sp-imr-item">
          <img src="/images/slideshow/pa-banner2014.jpg" alt="pa-banner2014" style="height:388px;width:965px" />
        </div>
              <div class="sp-imr-item">
          <img src="/images/slideshow/pa-banner3.jpg" alt="pa-banner3" style="height:388px;width:965px" />
        </div>
        
    </div>
        <div id="sp-imr-prev46" class="sp-imr-prev"></div>
    <div id="sp-imr-next46" class="sp-imr-next"></div>
      </div>
</div>
    </div>
  
            
</div>
