<div id="slideshow">
<div class="moduletable">

<script type="text/javascript">
window.addEvent('domready',function(){
  var sp_image_rotator46 = new noobSlide({
    box: $('sp-imr-items46'),
    items: $$('#sp-imr-items46 img'),
    size: 965,
    autoPlay: true,
    interval: 5000,
    buttons: {
      previous: $('sp-imr-prev46'),
      next: $('sp-imr-next46')
    },
    fxOptions: {
      duration: 1000,
      transition: Fx.Transitions.Sine.easeOut,
      wait: false
    }
  });
});
</script>

<div class="sp-image-rotator">
  <div class="sp-imr-wrapper" style="width:965px;height:388px">
    <div id="sp-imr-items46" class="sp-imr-items">
      {% for carousel in site.data.carousels %}
      <div class="sp-imr-item">
      {% if carousel.href %}
        <a href="{{ carousel.href }}"><img src="{{ carousel.image }}" style="height:388px;width:965px" /></a>
      {% else %}
        <img src="{{ carousel.image }}" style="height:388px;width:965px" />
      {% endif %}
      </div>
      {% endfor %}
    </div>
    <div id="sp-imr-prev46" class="sp-imr-prev"></div>
    <div id="sp-imr-next46" class="sp-imr-next"></div>
  </div>
</div>

</div>
</div>
