<div id="ma-eventsnews" class="clearfix">
    <div class="ma-events">
        <div class="moduletable">
            <h2>Upcoming Events</h2>
            <ul class="eventlistmod">
                {% for event in site.categories['upcoming-events'] reversed %}
                  <li>
                  <span class="date">{{ event.date | date: "%D" }} &mdash; </span>
                  <a href="{{ event.url }}">&nbsp;<span class="location">{{ event.title }}</span></a>
                  </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="ma-news">
        <div class="moduletable">
            <a href="news/upcoming-events/_posts/2015-10-18-CROP-Hunger-Walk.md">
                <img src="https://cloud.githubusercontent.com/assets/11180395/11133117/c1ba60ec-8948-11e5-8e6f-ec27da7de030.jpg" width="300" />
            </a>
            <h3></h3>
        </div>
    </div>
</div>
