<div id="ma-eventsnews" class="clearfix">
    <div class="ma-events">
        <div class="moduletable">
            <h2>Featured:</h2>
            <ul class="eventlistmod">
                {% for event in site.categories['upcoming-events'] reversed %}
                  <li>
                  <span class="date">{{ event.date | date: "%D" }} &mdash; </span>
                  <a href="{{ event.url }}">&nbsp;<span class="location">{{ event.title }}</span></a>
                  </li>
                {% endfor %}
            </ul>
    <a href="http://parentingoc.com/2015/03/top-teachers-of-orange-county-2015/" border="0"><img src="http://www.pillarsacademy.org/images/Top-Teachers-2015-Group.jpeg" width="500" height="268" alt="Sr. Faeiza Hadi" /></a>
    <p>&nbsp;</p>
    <a href="http://parentingoc.com/2016/03/top-teachers-2016/" border="0"><img src="http://www.pillarsacademy.org/images/Top-Teachers-2016-Group-Shot.jpeg" width="500" height="268" alt="Sr. Amani Chalati" /></a>
    
        </div>
    </div>
    <div class="ma-news">
        <div class="moduletable">
            
            <h3></h3>
        </div>
    </div>
</div>
  </div>
  
