<h3>Mailing List</h3>

<div class="acymailing_module">
    <div class="acymailing_fulldiv">
    <form id="subscribeForm"
          action="https://script.google.com/macros/s/AKfycbyG7jQxMJECArtWIjOO_Fj-9KKVHJmXvD0lpTSNMMfM3vxmBw/exec"
          method="get">
      <div class="acymailing_module_form" >
          <span class="acymailing_introtext">Sign up to receive news about our upcoming events</span>
          <div class="acymailing_form">
              <p class="onefield">
                  <span class="acyfield_name">
                      <input name="name"
                             onfocus="if (this.value == 'Name') this.value = '';"
                             onblur="if (this.value=='') this.value='Name';"
                             class="inputbox" type="text" size="15" value="Name" />
                  </span>
              </p>
              <p class="onefield">
                  <span class="acyfield_email">
                      <input name="email"
                             onfocus="if (this.value == 'E-mail') this.value = '';"
                             onblur="if (this.value=='') this.value='E-mail';"
                             class="inputbox" type="text" size="15" value="E-mail" />
                  </span>
              </p>
              <p class="acysubbuttons">
                  <input class="button subbutton" type="submit" value="Subscribe" name="Submit" />
              </p>
          </div>
      </div>
    </form>
    </div>
</div>

<script>
jQuery(document).ready(function ($) {
  $('#subscribeForm').submit(function (event) {

    // Stop form from submitting normally
    event.preventDefault();

    // Get some values from elements on the page:
    var $form = $(this),
        name = $form.find('input[name="name"]').val(),
        email = $form.find('input[name="email"]').val(),
        url = $form.attr('action') + '?' + $form.serialize();

    console.log('Subscribing %s with email %s. Requesting: %s', name, email, url);

    // Use an img to get around CORS
    $('<img>')[0].src = url;

    $form.html('Your subscription request is being processed. Thank you!');
  });
});
</script>