<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  {% if page.title %}
  <title>
      {% if page.category %}
      {{page.category}}:
      {% endif %}
      {{ page.title}}
  </title>
  {% else %}
  <title>{{ site.name}}</title>
  {% endif %}

  {% assign paths = page.url | split:'/' %}
  {% unless paths and paths[1] %}{% assign home = true %}{% endunless %}

  <link rel="stylesheet" href="/media/com_acymailing/css/module_default.css" type="text/css" />
  <link rel="stylesheet" href="/modules/mod_gk_news_highlighter/style/style.css" type="text/css" />
  <link rel="stylesheet" href="/modules/mod_sp_image_rotator/assets/css/style.css" type="text/css" />

  <script type="text/javascript" src="/media/system/js/mootools.js"></script>
  <script type="text/javascript" src="/media/system/js/caption.js"></script>
  <script type="text/javascript" src="/modules/mod_gk_news_highlighter/scripts/engine_compress.js"></script>
  <script type="text/javascript">
    try {$Gavick;}catch(e){$Gavick = {};};
    $Gavick["gk_news_highlighternews-highlight-1"] = {
        "animationType" : 1,
        "animationSpeed" : 250,
        "animationInterval" : 6000,
        "animationFun" : Fx.Transitions.linear,
        "mouseover" : 1};
  </script>
  <script type="text/javascript" src="/modules/mod_sp_image_rotator/assets/script/noobSlide.js"></script>
  
  <link rel="stylesheet" href="/templates/system/css/system.css" type="text/css" />
  <link rel="stylesheet" href="/templates/system/css/general.css" type="text/css" />
  <link rel="stylesheet" href="/templates/alridah/css/template.css" type="text/css" />
  
  <script language="javascript" type="text/javascript" src="/templates/alridah/js/ja.script.js"></script>
  
  </head>
<body id="bd" class="fs3">
  <a name="top" id="top"></a>
  <div id="ja-wrapper-{% if home %}top{% else %}sub{% endif %}" class="clearfix">
    <div id="ma-headerwrap{% unless home %}-sub{% endunless %}">
      <div id="ma-header{% if home %}550{% else %}450{% endif %}">
        <div id="ma-header-inner" class="clearfix">
                    <h1 class="logo"><a href="/" title="Pillars Academy"><span>Pillars Academy</span></a></h1>
          <div class="top-menu">
                <div class="moduletable-nav">
          <ul class="menu-nav"><li class="item28"><a href="https://www.facebook.com/pages/Pillars-Academy-Where-Future-Leaders-are-inspired-nurtured/116191751802455"><img src="/images/stories/facebook.png" align="left" alt="facebook" /><span>Facebook</span></a></li><li class="item29"><a href="index.php/upcoming-events.html"><img src="/images/stories/calendar.png" align="left" alt="calendar" /><span>Calendar</span></a></li><li class="item30"><a href="/"><img src="/images/stories/home.png" align="left" alt="home" /><span>Home</span></a></li></ul>    </div>
  
          </div>

          <div class="main-menu">
            {% include nav.html paths=paths %}
          </div>
          
          <div class="clearfix"></div>
          
          {% if home %}
            {% include carousel.html %}
          {% else %}
            {% include banner.html paths=paths %}
          {% endif %}
            
                    
                  </div>
      </div>
    </div>
    
    <div id="ma-content-wrapper" class="clearfix">
      <div id="ma-inner2" class="clearfix">
        
        {% unless home %}
          {% include subnav.html paths=paths %}
        {% endunless %}

                </div>
        
        <div id="ma-containerwrap" class="clearfix">
          <div id="ma-right">
                            <div class="moduletable">
          <p><a href="http://www.youtube.com/watch?v=ZTg6d59JvJc" mce_href="http://www.youtube.com/watch?v=ZTg6d59JvJc" target="_blank" style=""><img src="/images/stories/site-images/title_video.jpg" mce_src="/images/stories/site-images/title_video.jpg" mce_style="border: 0px;" style="border: 0px;"></a></p><p><br></p>    </div>
      <div class="moduletable-highlighter">
          <h3>Testimonials</h3>
          
<div class="gk_news_highlighter" id="news-highlight-1">
  <div class="gk_news_highlighter_wrapper">
                                    <div class="gk_news_highlighter_item"><span class="gk_news_highlighter_title">"When we joined Pillars Academy, we felt at home from the first day"</span></div>
                                        <div class="gk_news_highlighter_item"><span class="gk_news_highlighter_title">"Our daughter has discovered pride in her Muslim identity"</span></div>
                                        <div class="gk_news_highlighter_item"><span class="gk_news_highlighter_title">"My children love to go to school"</span></div>
                                        <div class="gk_news_highlighter_item"><span class="gk_news_highlighter_title">"The encouragement my kids have received has helped them build a very strong character"</span></div>
                                        <div class="gk_news_highlighter_item"><span class="gk_news_highlighter_title">"Pillars Academy is the best investment we would ever make towards our daughter's future."</span></div>
                                        <div class="gk_news_highlighter_item"><span class="gk_news_highlighter_title">"Our kids' passion and interest for Islam is evident"</span></div>
                          </div>
    <div class="gk_news_highlighter_interface">
            <div><a href="index.html#" class="prev"></a>
      <a href="index.html#" class="next"></a></div>
        </div>
  
</div>
    </div>
  
                      </div>

          <div id="ma-contentbody">
                  <div {% if home %}class="moduletable"{% else %}id="page"{% endif %}>
          {{ content }}
  
            </div>
                        
          {% if home %}
            {% include events.html %}
          {% endif %}
                        
            <!-- System Message goes here -->
            
            <!-- SITE TEXT GOES HERE -->
            

<div class="blog">

  
  
  
  </div>

        </div>
      </div>
    </div>
    
    <div id="ma-footerwrap" class="clearfix">
      <div id="ma-footer" class="clearfix">
        <div class="ma-mid1">
              <div class="moduletable">
          <h3>Contact Us</h3>
          <p>23581 Madero, Suite #104, Mission Viejo, CA 92691 <br />T  949.951.0442 <br />F  949.951.0245 <br /><a href="mailto:info@pillarsacademy.org">info@pillarsacademy.org</a><br /><a href="http://www.ocif.org/">OCIF Masjid</a></p>
<script type="text/javascript">// <![CDATA[
// Hack to allow clicking on the banners

$$('img[alt=fund-web-banner]').addEvent('click', function() {
  window.open('http://www.timenow.eventbrite.com', '_blank');
}).setStyle('cursor', 'pointer');

$$('img[alt=open-house-banner]').addEvent('click', function() {
  location.href = 'http://www.pillarsacademy.org/index.php/upcoming-events/details/28-open-house';
}).setStyle('cursor', 'pointer');

$$('img[alt$=newsandevents.jpg]').addEvent('click', function() {
  window.open('https://www.facebook.com/pages/Pillars-Academy-Where-Future-Leaders-are-inspired-nurtured/116191751802455', '_blank');
}).setStyle('cursor', 'pointer');
// ]]></script>   </div>
  
        </div>
        <div class="ma-mid2">
              <div class="moduletable">
          <h3>Mailing List</h3>
          <script type="text/javascript">
            <!--
          var acymailing = Array();
          acymailing['NAMECAPTION'] = 'Name';
          acymailing['NAME_MISSING'] = 'Please enter your name';
          acymailing['EMAILCAPTION'] = 'E-mail';
          acymailing['VALID_EMAIL'] = 'Please enter a valid e-mail address';
          acymailing['ACCEPT_TERMS'] = 'Please check the Terms and Conditions';
          acymailing['CAPTCHA_MISSING'] = 'Please enter the security code displayed in the image';
          acymailing['NO_LIST_SELECTED'] = 'Please select the lists you want to subscribe to';
      //-->
            </script>
<script type="text/javascript" src="media/com_acymailing/js/acymailing_module.js" ></script>
<div class="acymailing_module" id="acymailing_module_formAcymailing1">
  <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing1"  >
    <form id="formAcymailing1" action="http://www.pillarsacademy.org/index.php" onsubmit="return submitacymailingform('optin','formAcymailing1')" method="post" name="formAcymailing1">
    <div class="acymailing_module_form" >
      <span class="acymailing_introtext">Sign up to receive news about our
upcoming events</span>            <div class="acymailing_form">
          <p class="onefield" id="field_name_formAcymailing1">                <span class="acyfield_name"><input id="user_name_formAcymailing1"  onfocus="if(this.value == 'Name') this.value = '';" onblur="if(this.value=='') this.value='Name';" class="inputbox" type="text" name="user[name]" size="15" value="Name" /></span>
              </p><p class="onefield" id="field_email_formAcymailing1">               <span class="acyfield_email"><input id="user_email_formAcymailing1"  onfocus="if(this.value == 'E-mail') this.value = '';" onblur="if(this.value=='') this.value='E-mail';" class="inputbox" type="text" name="user[email]" size="15" value="E-mail" /></span>
              </p>          <p class="acysubbuttons">
                        <input class="button subbutton" type="submit" value="Subscribe" name="Submit" onclick="try{ return submitacymailingform('optin','formAcymailing1'); }catch(err){alert('The form could not be submitted '+err);return false;}"/>
                      </p>
        </div>
            <input type="hidden" name="ctrl" value="sub"/>
      <input type="hidden" name="task" value="notask"/>
      <input type="hidden" name="redirect" value="http%3A%2F%2Fwww.pillarsacademy.org%2F"/>
      <input type="hidden" name="redirectunsub" value="http%3A%2F%2Fwww.pillarsacademy.org%2F"/>
      <input type="hidden" name="option" value="com_acymailing"/>
            <input type="hidden" name="hiddenlists" value="1"/>
      <input type="hidden" name="acyformname" value="formAcymailing1" />
            <input type="hidden" name="Itemid" value="1"/>      </div>
    </form>
  </div>
  </div>    </div>
  
        </div>
        <div class="ma-mid3">
              <div class="moduletable">
          <h3>Accreditation</h3>
          <p>Pillars Academy is the only Islamic School Accredited by both</p>
<p><img src="/images/stories/site-images/accred_logos.jpg" border="0" /></p>   </div>
  
        </div>
      </div>
      <div id="ma-copyright">
        <div class="ma-bottommenu">
              <div class="moduletable">
          <ul class="menu"><li class="item86"><a href="index.php/privacy-policy.html"><span>Privacy Policy</span></a></li><li class="item87"><a href="index.php/employment.html"><span>Employment</span></a></li><li class="item88"><a href="index.php/sitemap.html"><span>Sitemap</span></a></li></ul>   </div>
  
        </div>
        <div class="copyright">
          Copyright © 14 Pillars Academy. All Rights Reserved.
        </div>
        <div class="hr"><hr /></div>
      </div>
    </div>
  </div>
  
</body>